@model Patient
@{
    //ViewData["Title"] = "Список пациентов";
    Layout = null;
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <a href="~/">Вернуться назад</a>
        <h3>Просмотр пациента</h3>
        <p>Пациент:</p>
        <form method="get">
            <h1>@Model.name @Model.surname @Model.patronymic</h1>
            ID пациента: @Model.id<br />
            Дата рождения: @Model.dateofbirth.ToString("d") <br />
            Номер полиса: @Model.numberpolicy<br />
            Номер паспорта: @Model.numberpassport<br />
            Почта: @Model.email<br />
            Телефон: @Model.email<br />
        </form>
    </div>
</body>
</html>
